* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("./images/forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.title {
    font-size: 2em;
    padding: 0.7em;
}

.paragraph > p {
    width: 76vw;
    font-size: 1.3em;
    color: ffffff;
    line-height: 2.2em;
    padding-bottom: 1em;
}

.start-btn:hover {
    opacity: 0.7;
}
.start-btn {
    font-weight: 400;
    font-size: 1em;
    border-width: medium;
    border-style: solid;
    border-color: #f0c23a;
    background-color: #f0e1b3;
    padding: 13px;
    color: rgb(82, 82, 82);
}

.single-choice-btn:hover {
    opacity: 0.7;
}

.single-choice-btn {
    font-weight: 400;
    font-size: 1em;
    border-width: medium;
    border-style: solid;
    border-color: #f0c23a;
    background-color: #f0e1b3;
    padding: 13px;
    color: rgb(82, 82, 82);
}

.text-init {
    width: 70vw;
    text-align: center;
    font-size: 1.3em;
    color: ffffff;
    line-height: 2.2em;
    padding-bottom: 1em;
}